

<section class="top">
    <div class="bg-img">
        <div class="title">
            <div class="category">
                Science
            </div>
                <h1>
                    Essential Math for Data Science  
                </h1>
                <div class="time">
                    <p>
                        <span class="material-icons inline-icon ">
                            access_time
                        </span> 
                        12 min to read
                    </p>
                </div>
                <div class="avatar">
                    <div class="photo-profile">
                        
                    </div>
                    <div class="author">
                        <p class="name">Melany Kuve</p>
                        <p class="date">June 1, 2020</p>
                    </div>
                </div>
        </div>
    </div>
</section>

<article>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa magni officiis quae unde perspiciatis perferendis dolore iure soluta, deserunt sunt, distinctio vel eaque voluptatum at debitis? Voluptate saepe at sapiente.
        Et quis quas aliquam quia quasi, iste officia quo fugiat nemo blanditiis? Minima vel recusandae blanditiis distinctio corporis iusto, sequi, fugiat reprehenderit nobis accusantium amet. Dolorum veniam iure fuga quaerat!
        Repudiandae, dolores aut? Beatae debitis quae, numquam aut non asperiores quidem esse id voluptas laboriosam cum excepturi veritatis rem qui porro, accusamus iure! Nulla minima sequi neque id ea corporis.
        Dolore, possimus. Molestias eligendi ipsa delectus sapiente nemo, omnis nobis! Nihil, molestiae ab eos quasi expedita asperiores modi quod explicabo quisquam, incidunt odio nobis quaerat iusto nam veniam dolorem ad?
        Ipsum aspernatur, quidem repellendus velit modi, cum quam aperiam maiores magni quibusdam eos? Dignissimos maiores perferendis unde nostrum! Corrupti, similique dolores suscipit quos ipsa a ab aperiam hic! Sapiente, architecto.    
    </p>

    <img src="../../../assets/images/history.jpeg" alt="image">

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa magni officiis quae unde perspiciatis perferendis dolore iure soluta, deserunt sunt, distinctio vel eaque voluptatum at debitis? Voluptate saepe at sapiente.
        Et quis quas aliquam quia quasi, iste officia quo fugiat nemo blanditiis? Minima vel recusandae blanditiis distinctio corporis iusto, sequi, fugiat reprehenderit nobis accusantium amet. Dolorum veniam iure fuga quaerat!
        Repudiandae, dolores aut? Beatae debitis quae, numquam aut non asperiores quidem esse id voluptas laboriosam cum excepturi veritatis rem qui porro, accusamus iure! Nulla minima sequi neque id ea corporis.
        Dolore, possimus. Molestias eligendi ipsa delectus sapiente nemo, omnis nobis! Nihil, molestiae ab eos quasi expedita asperiores modi quod explicabo quisquam, incidunt odio nobis quaerat iusto nam veniam dolorem ad?
        Ipsum aspernatur, quidem repellendus velit modi, cum quam aperiam maiores magni quibusdam eos? Dignissimos maiores perferendis unde nostrum! Corrupti, similique dolores suscipit quos ipsa a ab aperiam hic! Sapiente, architecto.    
    </p>

    <h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae quis nemo eveniet iure accusamus eius consectetur, officia porro. Dolor eius vitae reprehenderit iusto quaerat sapiente vero hic qui officiis reiciendis!
    </h2>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa magni officiis quae unde perspiciatis perferendis dolore iure soluta, deserunt sunt, distinctio vel eaque voluptatum at debitis? Voluptate saepe at sapiente.
        Et quis quas aliquam quia quasi, iste officia quo fugiat nemo blanditiis? Minima vel recusandae blanditiis distinctio corporis iusto, sequi, fugiat reprehenderit nobis accusantium amet. Dolorum veniam iure fuga quaerat!
        Repudiandae, dolores aut? Beatae debitis quae, numquam aut non asperiores quidem esse id voluptas laboriosam cum excepturi veritatis rem qui porro, accusamus iure! Nulla minima sequi neque id ea corporis.
        Dolore, possimus. Molestias eligendi ipsa delectus sapiente nemo, omnis nobis! Nihil, molestiae ab eos quasi expedita asperiores modi quod explicabo quisquam, incidunt odio nobis quaerat iusto nam veniam dolorem ad?
        Ipsum aspernatur, quidem repellendus velit modi, cum quam aperiam maiores magni quibusdam eos? Dignissimos maiores perferendis unde nostrum! Corrupti, similique dolores suscipit quos ipsa a ab aperiam hic! Sapiente, architecto.    
    </p>

    <p class="quote">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus necessitatibus nulla animi, quidem deserunt harum consequatur possimus quis obcaecati sed ad voluptatem iure corporis commodi sint aliquid sapiente asperiores vitae!
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa magni officiis quae unde perspiciatis perferendis dolore iure soluta, deserunt sunt, distinctio vel eaque voluptatum at debitis? Voluptate saepe at sapiente.
        Et quis quas aliquam quia quasi, iste officia quo fugiat nemo blanditiis? Minima vel recusandae blanditiis distinctio corporis iusto, sequi, fugiat reprehenderit nobis accusantium amet. Dolorum veniam iure fuga quaerat!
        Repudiandae, dolores aut? Beatae debitis quae, numquam aut non asperiores quidem esse id voluptas laboriosam cum excepturi veritatis rem qui porro, accusamus iure! Nulla minima sequi neque id ea corporis.
        Dolore, possimus. Molestias eligendi ipsa delectus sapiente nemo, omnis nobis! Nihil, molestiae ab eos quasi expedita asperiores modi quod explicabo quisquam, incidunt odio nobis quaerat iusto nam veniam dolorem ad?
        Ipsum aspernatur, quidem repellendus velit modi, cum quam aperiam maiores magni quibusdam eos? Dignissimos maiores perferendis unde nostrum! Corrupti, similique dolores suscipit quos ipsa a ab aperiam hic! Sapiente, architecto.    
    </p>

    <h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae quis nemo eveniet iure accusamus eius consectetur, officia porro. Dolor eius vitae reprehenderit iusto quaerat sapiente vero hic qui officiis reiciendis!
    </h2>



</article>

<section class="bottom">
<div class=" col-2">
    <p>
        <span class="material-icons inline-icon">favorite</span> 123
    </p>
    <p class="social-icons">
        <a href="#" title="Click to copy link!">Share</a> 
        <span class="linkedin inline-icon"></span>
        <span class="facebook inline-icon"></span>
        <span class="instagram inline-icon"></span>
    </p>
</div>
<div class="user">
    <div class="avatar">
        <div class="photo-profile">
            <div class="social-icons">
                <span class="linkedin inline-icon"></span>
                <span class="facebook inline-icon"></span>
                <span class="instagram inline-icon"></span>
            </div>            
        </div>
        <div class="author">
            <p class="bio">Written by </p>
            <p class="name">Melany Kuve <span class="country">Netherlands</span></p>
            <p class="bio">
                Mathematics is the bedrock of any contemporary discipline of science. Almost all the techniques of modern data science, including machine learning, have a deep mathematical underpinning. 
            </p>
        </div>
    </div>
</div>
</section>
